.SearchBar{
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
}

.SearchBar input{
  padding: .2rem .5rem;
  font-size: 1.25rem;
  width: 12rem;
  background-color: #4d4d4d;
  color: #ebf1f1;
  border-color: transparent;
  border-radius: .3rem;
}